[submodule "external/CMock"]
	path = external/CMock
	url = https://hub.fastgit.xyz/ThrowTheSwitch/CMock
[submodule "external/Unity"]
	path = external/Unity
	url = https://hub.fastgit.xyz/ThrowTheSwitch/Unity
